default: &default
      adapter: postgresql
      encoding: unicode
      host: localhost
      pool: 5
      username: username
      password: password

development:
  <<: *default
  database: qa_developmen


test:
  <<: *default
  database: qa_test

production:
  <<: *default
  database: qa_production
  username: qa
  password: <%= ENV['QA_DATABASE_PASSWORD'] %>


