 Hello, user
div>
  |
  You have got a new answer in this question
  =link_to @question.title, @question
div
  =link_to 'Unsubscribe', question_subscription_url(@question, @subscription), method: :delete